@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
}

h2 {
  font-family: "Roboto", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  color: #000000;
}

h3 {
  font-family: "Roboto", sans-serif;

  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #292929;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;

  @media screen and (min-width: 1024px) {
    max-width: 960px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1024px;
  }
}
